@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.header__p {
  font-family: "Dancing Script", cursive;
}

input[type="text"],
input[type="email"],
select {
  @apply outline-yellow p-3 rounded-full border border-blue-400 max-md:w-full;
}

label,
p {
  @apply text-[18px] font-medium lg:text-[24px];
}

option {
  @apply w-[200px];
}

.form {
  @apply lg:text-[28px];
}

@keyframes line {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.link {
  position: relative;
  color: white;
  text-decoration: none;
}

.link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.link:hover::before {
  animation: line 0.3s forwards;
  /* Apply the line animation on hover */
  width: 100%;
}
